*{
		margin: 0;
}

#logo{
      height: 100vh;
      width: 100vw;
      opacity: 10%;
      position: absolute;
      z-index: -999;
	    }
#style2 {
	    display:none;
	    position: absolute;
        }

header {
	    background-image: url('image6.jpg');
	    background-size: cover;
	    height: 60vh;
	    width: 100%;
	    color: red;
	    font-size: 6vh;
	    background-repeat: no-repeat;
	    text-shadow: 2px 2px 8px #FF8F80;	
	    font-family: "Arial Black", Gadget, sans-serif;
	    text-align: center;
       }
div    {
        background-color: black;
        border-radius: 10px;
        color: grey;
        text-align: center;
        height: 5vh;
        width: 100%;
       }
nav    {
        height:4vh;
        width:400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        right: 0;
        float: right;
       }
section {
	    float: left;
	    display: inline-block;
	    float: left;
	    margin-left: 10vh;
	    width: 80vw;
	    margin-top: 10px;
        }
 p      {
	    margin-bottom: 3vh;
        }
#currentpage {
		background-color: green;
	    border-radius:10px;
	    text-align: center;
	    width: 100px;
	    margin-right: 5vh;
		margin-left: 5vh;
	       }
.page      {
		margin-right: 5vh;
		margin-left: 5vh;
		background-color: blue;
		text-align: bottom;
		width: 100px;
		border-radius:10px;
		text-align: center;
		box-shadow: 2px 2px black;
	    }
