*{
		margin: 0;
}

#logo{
	    display: flex;
	    align-items: center;
	    height: 90vh;
	    width: 45vw;
        opacity: 20%;
        left: 50vh;
        position: fixed;
        z-index: -999;
        top: 5vh;
	    }
#style2 {
	    display:none;
	    position: absolute;
        }
#currentpage {
		background-color: #b32e8e;
		position: relative;
	    border-radius:10px;
	    text-align: center;
	    width: 100px;
	    margin-right: 5vh;
		margin-left: 5vh;
		text-decoration: none;
		top: 5px;
	       }
.page      {
		margin-right: 5vh;
		margin-left: 5vh;
		background-color: #ff44cc;
		text-align: bottom;
		width: 110px;
		border-radius:10px;
		text-align: center;
		text-decoration: none;
	    text-transform: uppercase;
	    box-shadow: 0 5px 0 #b42e8e;
	    position: relative;
	    }

a:hover {
        background-color: #d136a6;
}
a:active {
		box-shadow: none;
		top: 5px;
}

header {
	    background-image: url('../images/image6.jpg');
	    background-size: cover;
	    background-position: bottom;
	    height: 60vh;
	    width: 100%;
	    color: red;
	    font-size: 6vh;
	    background-repeat: no-repeat;
	    text-shadow: 2px 2px 8px #FF8F80;	
	    font-family: "Arial Black", Gadget, sans-serif;
	    text-align: center;
       }
#cabecera    {
        background-color: black;
        border-radius: 10px;
        color: grey;
        text-align: center;
        height: 5vh;
        width: 100%;
       }
nav    {
        height:4vh;
        width:90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       }

section {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    width: 80vw;
	    margin-top: 10px;
	    width: 98vw;
        }
section h1 {
	    width: 100%;
	    text-align: center;
}
 p      {
	    margin-bottom: 3vh;
	    font-size: 1.3vw;
        }
}
ul {
        list-style: square;
}


table {                                   /* css tablas */
	    border-spacing: 0;
	    width: 80vw;
	    margin-bottom: 15px;
}
tr, th, td{
	    border: 1px solid #000;
	    height: 5vh;
	    text-align: center;
	    font-size: 1.3vw;
	    height: 4vh;
        width: 20vw;
}
th {
	   background-color: rgba(0,255,0,0.6);
}
footer {
       display: flex;
       flex-direction: column;
       align-items: flex-end;	
       width: 98vw;
       text-decoration: underline;
}

                                        /*Css listas*/
li {
	 margin-bottom: 7px;
}
.list-titles{
	   position: relative;
	   left: -30px;
	   margin-top: 30px;
	   margin-bottom: 9px;
	   font-weight: bold;
	   font-size: 3vh;
	   list-style: none;
}
#subrayadito {
	   text-decoration: underline;
}
.listas1 {
	   list-style: none;
}

                                      /*Registro Css*/
main{
	width: 80vw;
	margin-left: 100px;
}
main p, h1{
	 width: 80vw;
}
#datos{
	width: 80vw;
	border: none;
}
fieldset {
	border: 0

}
#registro1 input{
	margin-bottom: 2vh;
	width: 25vw;
}
.registro2{
	display: flex;
	justify-content: space-around;
	width: 40vw;
	height: 5vh;
    margin-bottom: 5px;
}
.schools{
	width: 40vw;
}
#schools1{
	display: flex;
	flex-direction: row;
	height: 6vh;
	margin-bottom: 20px;
}
#position{
	margin-bottom: 20px;
}
#position input{
	margin-left: 40px;
	width: 2vw;
}
#uniorm1{
	display: flex;
	flex-direction: row;
	height: 6vh;
	margin-bottom: 20px;
}
.uniform{
	width: 40vw;
}
form {
	width: 90vw;
}
#end {
	position: absolute;
	top: 190vh;
}
#reg{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}
                                /*mapas*/
#maps iframe{
	display: none;
}
#map1:target, #map2:target, #map3:target, #map4:target, #map5:target, #map6:target{
    display: block;

    position: relative;
}




         